:root {
  --font-family-poppins: 'Poppins', sans-serif;
  --text-white: rgba(255, 255, 255, 1);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.rectangle-1-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(236, 43, 38, 1);
  border: none;
  outline: none;
}

.vector-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(236, 43, 38, 1);
  border: none;
  outline: none;
}

.vector-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(236, 43, 38, 1);
  border: none;
  outline: none;
}

.vector-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(236, 43, 38, 1);
  border: none;
  outline: none;
}

.vector-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(236, 43, 38, 1);
  border: none;
  outline: none;
}

.vector-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(236, 43, 38, 1);
  border: none;
  outline: none;
}

.group-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.artwork-2-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.group-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.logo-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.header-logo-4 {
@media (max-width: 1440px) {
  .header-logo-4 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .header-logo-4 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.text-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.duration-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.header-info-51 {
@media (max-width: 1440px) {
  .header-info-51 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .header-info-51 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.header-3 {
@media (max-width: 1440px) {
  .header-3 {
    gap: 633px;
  }
}

@media (max-width: 768px) {
  .header-3 {
    gap: 633px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 633px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.rectangle-2-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(79, 201, 172, 1);
  border-radius: 20px;
}

.text-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 96px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.data-set-1-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-65 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-66 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-67 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 96px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.component-2-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: normal;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 96px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.component-3-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-3-59 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.card_summary-57 {
@media (max-width: 1440px) {
  .card_summary-57 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .card_summary-57 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  box-shadow: 0px 10px 37.400001525878906px 0px rgba(0,0,0,0.5);
}

.text-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: 700;
  font-size: 32px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-76 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-poppins);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.tophost_tittle-74 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.tophost_framephotos-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(151, 71, 255, 1);
  border-radius: 20px;
}

.card_tophost-73 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 23.777961888980943%;
  background-color: rgba(79, 201, 172, 1);
  border-radius: 20px;
}

.card_hostrank-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(79, 201, 172, 1);
  border-radius: 20px;
}

.card_clientdetail-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(79, 201, 172, 1);
  border-radius: 20px;
}

.groupcard_table-78 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.cardgroup_details-72 {
@media (max-width: 1440px) {
  .cardgroup_details-72 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .cardgroup_details-72 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 19px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.frame-6-56 {
@media (max-width: 1440px) {
  .frame-6-56 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .frame-6-56 {
    gap: 20px;
  }
}
@media (max-width: 1440px) {
  .frame-6-56 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .frame-6-56 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
}

.video-frame-81 {
@media (max-width: 1440px) {
  .video-frame-81 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .video-frame-81 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  background-color: rgba(79, 201, 172, 1);
  border-radius: 20px;
}

.frame-7-55 {
@media (max-width: 1440px) {
  .frame-7-55 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .frame-7-55 {
    gap: 20px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 94.79166666666666%;
}

.frame-d-2 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 98.96907216494846%;
  background-color: rgba(44, 176, 145, 1);
}

.dashboard-1 {
@media (max-width: 1440px) {
  .dashboard-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .dashboard-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1940px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
